.mainCanvas {
	position: fixed;
	top: 50px;
	bottom: 30px;
	left: 0;
	right: 0;
	width: 100vw;
	height: calc(100vh - 80px);
	background-image: url(https://s19.directupload.net/images/191106/kb6gep9y.png);
	z-index: 1;
}
.shadowCanvas {
	position: fixed;
	top: 50px;
	bottom: 30px;
	left: 0;
	right: 0;
	width: 100vw;
	height: calc(100vh - 80px);
	background: transparent;
	z-index: 2;
}